<div class="container-fluid blackColor">
  <nav class="navbar navbar-expand-lg custom_nav-container ">
    <a class="navbar-brand" href="index.html">
      <span>
        División Servicios IT
      </span>
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
        <ul class="navbar-nav  ">
          <li class="nav-item" [ngClass]="{'active': commonService.selecPag === 'Home'}">
            <a class="nav-link" routerLink="/" (click)="cambiaSelec('Home')"> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item " [ngClass]="{'active': commonService.selecPag === 'About'}">
            <a class="nav-link" routerLink="/about" (click)="cambiaSelec('About')"> About </a>
          </li>
          <li class="nav-item " [ngClass]="{'active': commonService.selecPag === 'Horas'}">
            <a class="nav-link" routerLink="/horas" (click)="cambiaSelec('Horas')"> Horas </a>
          </li>
          <!-- <li class="nav-item " [ngClass]="{'active': selec === 'Grafica'}">
            <a class="nav-link" routerLink="/grafica" (click)="cambiaSelec('Grafica')"> Gráficas </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
      <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
    </form> -->
  </nav>
</div>
