<div class="table-container">

  <div class="totalesYForm">
    <table class="tablaTotales">
      <thead>
        <tr>
          <th>Colaborador</th>
          <th>Horas Compensación</th>
          <th>Horas Compensadas</th>
          <th>Pendientes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of horasService.horasTotalesPorColaborador | keyvalue" [ngClass]="{'tienesHoras': dato.value.horasCompensacion - dato.value.horasCompensadas > 0}">
          <td><b>{{ dato.key }}</b></td>
          <td>{{ dato.value.horasCompensacion }}</td>
          <td>{{ dato.value.horasCompensadas }}</td>
          <td><b [ngClass]="{'horasPendientes': (dato.value.horasCompensacion - dato.value.horasCompensadas) > 0}">{{ dato.value.horasCompensacion - dato.value.horasCompensadas }}</b></td>
        </tr>
      </tbody>
    </table>

    <!-- <div class="espacio"></div> -->

    <div class="form">
      <form [formGroup]="formulario">
        <div class="row">
          <div class="col">
            <label for="fecha">Fecha*</label>
            <input type="date" formControlName="fecha" id="fecha" class="form-control" (blur)="calcularHorasCompensacion()" placeholder="Fecha">
          </div>
          <div class="col">
            <label for="horario">Horario</label>
            <input type="text" formControlName="horario" id="horario" class="form-control" placeholder="Horario">
          </div>
          <div class="col">
            <label for="colaborador">Colaborador*</label>
            <select formControlName="colaborador" id="colaborador" class="form-control">
              <option>Colaborador</option>
              <option *ngFor="let usuario of usuarios" [value]="usuario">{{ usuario }}</option>
            </select>
          </div>
          <div class="col">
            <label for="horasRealizadas">Horas Realizadas*</label>
            <input type="text" formControlName="horasRealizadas" id="horasRealizadas" class="form-control" (blur)="calcularHorasCompensacion()" placeholder="Horas Realizadas">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label for="horasCompensacion">Horas Compensación</label>
            <input type="text" formControlName="horasCompensacion" id="horasCompensacion" class="form-control" placeholder="Compensación">
          </div>
          <div class="col">
            <label for="horasCompensadas">Horas Compensadas</label>
            <input type="text" formControlName="horasCompensadas" id="horasCompensadas" class="form-control" (blur)="validarHorasCompensadas()" placeholder="Compensadas">
          </div>
          <div class="col">
            <label for="diaDisfrutado">Día/s Disfrutado/s</label>
            <input type="text" formControlName="diaDisfrutado" id="diaDisfrutado" class="form-control" placeholder="Día/s Disfrutado/s">
          </div>
          <div class="col">
            <label for="compensada">Compensada</label>
            <select formControlName="compensada" id="compensada" class="form-control">
              <option>NO</option>
              <option>SI</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label for="tarea">Tarea*</label>
            <input type="text" formControlName="tarea" id="tarea" class="form-control" placeholder="Tarea">
          </div>
          <div class="col">
            <label for="comentario">Comentario</label>
            <input type="text" formControlName="comentario" id="comentario" class="form-control" placeholder="Comentario">
          </div>
        </div>
        <div class="buttonYtext">
          <button type="submit" [ngClass]="{'deshabilitado': formulario.invalid}" [disabled]="formulario.invalid" class="btn btn-success mt-3 boton" (click)="onSubmit()">Guardar</button>
          <p *ngIf="formulario.controls['horasCompensadas'].invalid || formulario.controls['horasCompensacion'].invalid || formulario.controls['horasRealizadas'].invalid" class="errorHoras">*Las horas deben ser numéricas y con solo un decimal</p>
          <div>
            <button type="reset" class="btn btn-info mt-3 boton" (click)="cleanFormPrincipal()">Limpiar</button>
            <button *ngIf="filaSelec != null && filaSelec != undefined && filaSelec != -1" type="reset" class="btn btn-warning mt-3 ml-5 boton" (click)="borraReg()">Borrar</button>
            <label for="textoObliga" class="margen">*Obligatorio</label>
          </div>
        </div>
      </form>
    </div>

    <!-- <div *ngIf="(horasCalculadas | async) === true" class="grafica"> -->
      <!-- <a target="_blank" href="https://www.salesforce.com/"><img class="imagenSCS" src="assets/images/SCS.png" alt=""></a> -->
    <div>
      <img class="imagenSCS" src="assets/images/grafica-de-barras.png" alt="" routerLink="/grafica">
      <!-- <app-grafica></app-grafica> -->
    </div>
  </div>


  <div class="espacio"></div>

  <div class="formFiltrado">
    <form [formGroup]="formularioFiltrado">
      <div class="row">
        <div class="col ml-3 mb-3 mt-3">
          <label for="fechaFiltrado">Fecha</label>
          <input type="date" formControlName="fechaFiltrado" id="fechaFiltrado" class="form-control" (blur)="calcularHorasCompensacion()" placeholder="Fecha">
        </div>
        <div class="col ml-3 mb-3 mt-3">
          <label for="colaboradorFiltrado">Colaborador</label>
          <select formControlName="colaboradorFiltrado" id="colaboradorFiltrado" class="form-control">
            <option>--Vacío--</option>
            <option *ngFor="let usuario of usuarios" [value]="usuario">{{ usuario }}</option>
          </select>
        </div>
        <div class="col ml-3 mb-3 mt-3">
          <label for="compensadaFiltrado">Compensada</label>
          <select formControlName="compensadaFiltrado" id="compensadaFiltrado" class="form-control">
            <option>--Vacío--</option>
            <option>NO</option>
            <option>SI</option>
          </select>
        </div>
        <div class="col ml-3 mb-3 mt-3">
          <label for="tareaFiltrado">Tarea</label>
          <input type="text" formControlName="tareaFiltrado" id="tareaFiltrado" class="form-control" placeholder="Tarea">
        </div>
        <div class="col ml-3 mb-3 mt-3">
          <label for="comentarioFiltrado">Comentario</label>
          <input type="text" formControlName="comentarioFiltrado" id="comentarioFiltrado" class="form-control" placeholder="Comentario">
        </div>
        <div class="col ml-3 mb-3 mt-4 divButtonFiltrar">
          <button type="submit" class="btn btn-success mt-3 boton" (click)="filtrar()">Filtrar</button>
          <button type="submit" class="btn btn-info mt-3 boton" (click)="limpiarFiltros()">Limpiar Filtros</button>
        </div>
      </div>

    </form>
  </div>
  <table class="tablaDatos">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Horario</th>
        <th>Colaborador</th>
        <th>Horas Realizadas</th>
        <th>Tarea</th>
        <th>Horas de Compensación</th>
        <th>Horas Compensadas</th>
        <th>¿Compensadas?</th>
        <th>Día Disfrutado</th>
        <th>Comentario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datosFiltrado; let i = index" [ngClass]="{'filaSeleccionada': i === filaSelec}" (click)="seleccionarRegistro(item)">
        <td>{{ item.fecha }}</td>
        <td>{{ item.horario }}</td>
        <td>{{ item.colaborador }}</td>
        <td>{{ item.horasRealizadas }}</td>
        <td>{{ item.tarea }}</td>
        <td>{{ item.horasCompensacion }}</td>
        <td>{{ item.horasCompensadas }}</td>
        <td>{{ item.compensada }}</td>
        <td>{{ item.diaDisfrutado }}</td>
        <td>{{ item.comentario }}</td>
      </tr>
    </tbody>

    <!-- Resumen de la tabla -->
    <tfoot>
      <tr>
        <td colspan="5">Totales</td>
        <td>{{ totales.horasCompensacionTotal }}</td>
        <td>{{ totales.horasCompensadasTotal }}</td>
      </tr>
    </tfoot>
  </table>

  <div class="espacio"></div>



</div>
