.espacio {
  height: 10px;
}

.imagenSCS {
  width: 200px;
  margin-top: 80px;
}

.form {
  margin: 25px;
}

.formFiltrado {
  margin: 25px;
  border: #888;
  border-radius: 15px;
  background-color: #cccccc;
  box-shadow: 5px 10px 8px #888888;
}

.buttonYtext {
  justify-content: space-between;
  display: flex;
}

.divButtonFiltrar {
  justify-content: space-between;
  display: flex;
}

.boton {
  border-color: black;
  margin-right: 15px;
}

.filaSeleccionada {
  background-color: #a9a9a9;
  color: rgb(54, 54, 54);
}
.deshabilitado {
  background-color: rgb(149, 0, 0);
  border-color: rgb(149, 0, 0);
}

.borde {
  border-color: rgb(200, 200, 200);
}

.margen {
  margin-top: 15px;
  margin-left: 25px;
}

.totalesYForm {
  display: flex;
  margin: 25px;
  border: #888;
  border-radius: 15px 0px;
  background-color: #cccccc;
  box-shadow: 5px 10px 8px #888888;
}

.tablaTotales {
  /* width: 100%; */
  border-collapse: collapse;
  border-spacing: 0;
}

.table-container {
  overflow-x: auto;
  max-height: 800px; /* Ajusta la altura máxima de la tabla según sea necesario */
}

th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
}

/* tbody tr:first-child td {
  font-weight: bold;
} */

.tablaDatos {
  margin: 25px;
  width: 97%;
  border-collapse: collapse;
  border-spacing: 0;
  cursor: pointer;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd; /* Línea en el lado derecho de las celdas */
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #a9a9a9;
}

/* Estilos adicionales para resaltar la primera fila, si lo deseas */
/* tbody tr:first-child {
  font-weight: bold;
} */

/* Estilos adicionales para resaltar celdas específicas, si lo deseas */
tbody tr td:nth-child(2),
tbody tr td:nth-child(4),
tbody tr td:nth-child(6) {
  font-style: italic;
  color: #888;
}
