<div class="table-container">

  <table>
    <thead>
      <tr>
        <th>Colaborador</th>
        <th>Horas Compensación</th>
        <th>Horas Compensadas</th>
        <th>Pendientes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of horasTotalesPorColaborador | keyvalue">
        <td>{{ dato.key }}</td>
        <td>{{ dato.value.horasCompensacion }}</td>
        <td>{{ dato.value.horasCompensadas }}</td>
        <td>{{ dato.value.horasCompensacion - dato.value.horasCompensadas }}</td>
      </tr>
    </tbody>
  </table>

  <div class="espacio"></div>
  <div class="form">
    <form formGroup="formulario" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <label for="fecha">Fecha</label>
          <input type="text" formControlName="fecha" id="fecha" class="form-control" placeholder="Fecha">
        </div>
        <div class="col">
          <label for="horario">Horario</label>
          <input type="text" formControlName="horario" id="horario" class="form-control" placeholder="Horario">
        </div>
        <div class="col">
          <label for="colaborador">Colaborador</label>
          <input type="text" formControlName="colaborador" id="colaborador" class="form-control" placeholder="Colaborador">
        </div>
        <div class="col">
          <label for="horasRealizadas">Horas Realizadas</label>
          <input type="text" formControlName="horasRealizadas" id="horasRealizadas" class="form-control" placeholder="Horas Realizadas">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="tarea">Tarea</label>
          <input type="text" formControlName="tarea" id="tarea" class="form-control" placeholder="Tarea">
        </div>
        <div class="col">
          <label for="horasCompensacion">Horas Compensación</label>
          <input type="text" formControlName="horasCompensacion" id="horasCompensacion" class="form-control" placeholder="Horas Compensación">
        </div>
        <div class="col">
          <label for="horasCompensadas">Horas Compensadas</label>
          <input type="text" formControlName="horasCompensadas" id="horasCompensadas" class="form-control" placeholder="Horas Compensadas">
        </div>
        <div class="col">
          <label for="compensada">Compensada</label>
          <input type="text" formControlName="compensada" id="compensada" class="form-control" placeholder="Compensada">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="diaDisfrutado">Día Disfrutado</label>
          <input type="text" formControlName="diaDisfrutado" id="diaDisfrutado" class="form-control" placeholder="Día Disfrutado">
        </div>
        <div class="col">
          <label for="comentario">Comentario</label>
          <input type="text" formControlName="comentario" id="comentario" class="form-control" placeholder="Comentario">
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>
  </div>


  <div class="espacio"></div>


  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Horario</th>
        <th>Colaborador</th>
        <th>Horas Realizadas</th>
        <th>Tarea</th>
        <th>Horas de Compensación</th>
        <th>Horas Compensadas</th>
        <th>¿Compensadas?</th>
        <th>Día Disfrutado</th>
        <th>Comentario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datos">
        <td>{{ item.fecha }}</td>
        <td>{{ item.horario }}</td>
        <td>{{ item.colaborador }}</td>
        <td>{{ item.horasRealizadas }}</td>
        <td>{{ item.tarea }}</td>
        <td>{{ item.horasCompensacion }}</td>
        <td>{{ item.horasCompensadas }}</td>
        <td>{{ item.compensada }}</td>
        <td>{{ item.diaDisfrutado }}</td>
        <td>{{ item.comentario }}</td>
      </tr>
    </tbody>
    <!-- Resumen de la tabla -->
    <tfoot>
      <tr>
        <td colspan="5">Totales</td>
        <td>{{ totales.horasCompensacionTotal }}</td>
        <td>{{ totales.horasCompensadasTotal }}</td>
        <!-- <td>{{ totales.pendientes }}</td> -->
        <!-- Colocar celdas adicionales si hay más columnas en la tabla -->
      </tr>
    </tfoot>
  </table>

  <div class="espacio"></div>



</div>
