<section class="info_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info-logo">
          <h2>
            División Servicios IT
          </h2>
          <p>
            El equipo de Desarrollo y Mantenimiento de Aplicaciones de la División de Atender en Servicios IT es el núcleo tecnológico encargado de diseñar, construir y mantener soluciones digitales innovadoras para satisfacer las necesidades operativas y estratégicas de nuestros clientes internos y externos. Este equipo multidisciplinario se dedica a la creación y optimización continua de aplicaciones, garantizando su funcionalidad, usabilidad, seguridad y escalabilidad.
          </p>
        </div>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <div class="info-nav">
          <h4>
            Navigation
          </h4>
          <ul>
            <li [ngClass]="{'active': commonService.selecPag === 'Home'}">
              <a (click)="cambiaSelec('Home')" routerLink="/home">
                Home
              </a>
            </li>
            <li [ngClass]="{'active': commonService.selecPag === 'About'}">
              <a (click)="cambiaSelec('About')" routerLink="/about">
                About
              </a>
            </li>
            <li [ngClass]="{'active': commonService.selecPag === 'Horas'}">
              <a (click)="cambiaSelec('Horas')" routerLink="/horas">
                Horas
              </a>
            </li>
            <li [ngClass]="{'active': commonService.selecPag === 'Nocturnidad'}">
              <a (click)="cambiaSelec('Nocturnidad')" routerLink="/nocturnidad">
                Nocturnidad
              </a>
            </li>
            <li [ngClass]="{'active': commonService.selecPag === 'Guardias'}">
              <a (click)="cambiaSelec('Guardias')" routerLink="/guardias">
                Guardias
              </a>
            </li>
            <!-- <li>
              <a href="contact.html">
                Contact Us
              </a>
            </li>
            <li>
              <a href="#">
                Login
              </a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info-contact">
          <h4>
            Contact Info
          </h4>
          <div class="location">
            <h6>
              Oficinas Corporativas:
            </h6>
            <a href="">
              <img src="assets/images/location.png" alt="">
              <span>
                Calle de la amargura, número primo
              </span>
            </a>
          </div>
          <div class="call">
            <h6>
              Oficina:
            </h6>
            <a href="">
              <img src="assets/images/telephone.png" alt="">
              <span>
                ( +34 123 45 56 87 )
              </span>
            </a>
            <h6 style="margin-top: 25px;">
              Guardia:
            </h6>
            <a href="">
              <img src="assets/images/telephone.png" alt="">
              <span>
                (1234)
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3">
        <div class="discover">
          <h4>
            Discover
          </h4>
          <ul>
            <li>
              <a href="">
                Help
              </a>
            </li>
            <li>
              <a href="">
                How It Works

              </a>
            </li>
            <li>
              <a href="">
                subscribe
              </a>
            </li>
            <li>
              <a href="contact.html">
                Contact Us
              </a>
            </li>
          </ul>
          <div class="social-box">
            <a href="">
              <img src="assets/images/facebook.png" alt="">
            </a>
            <a href="">
              <img src="assets/images/twitter.png" alt="">
            </a>
            <a href="">
              <img src="assets/images/google-plus.png" alt="">
            </a>
            <a href="">
              <img src="assets/images/linkedin.png" alt="">
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>



<!-- end info_section -->

<!-- footer section -->
<section class="container-fluid footer_section">
  <p>
    Copyright &copy; 2024 All Rights Reserved
  </p>
</section>
